__pycache__
*.pyc
*.pyo
*.pyd
.Python
# .env
.git
.gitignore
.vscode
.idea
tests
docs

#Adicionales app-genai
*.env
*.venv
*.log
*.pytest_cache/
*.coverage
app-genai/htmlcov/
app-genai/dist/
app-genai/build/
*.egg-info/
app-genai/summaries/*
app-genai/chroma_db/*


# gen image
model_cache/
generated_resources/
__pycache__/
*.pyc